@model Collection

@{
    var label = Model.PrefLabel.Single();
    ViewData["Title"] = Localizer["Title", Localizer["SubTitle"], label];
}

<div class="section--primary">
    <div class="container">
        <small><a asp-action="Index" asp-controller="Collection">@Localizer["SubTitle"]</a></small>
        <h1>@label</h1>
    </div>
</div>

<section id="content">
    <div class="container">
        <h2>@Localizer["Properties"]</h2>

        @if (Model.Parent.Any())
        {
            <details>
                <summary>@Localizer["MemberOf"]</summary>
                <ul>
                    @foreach (var parent in Model.Parent.OrderBy(x => x.PrefLabel.Single()))
                    {
                    <li>
                        <a asp-action="Item" asp-route-id="@parent.Id">@parent.PrefLabel.Single()</a>
                    </li>
                    }
                </ul>
            </details>
        }
        @if (Model.Child.Any())
        {
            <details>
                <summary>@Localizer["MemberCollections"]</summary>
                <ul>
                    @foreach (var child in Model.Child.OrderBy(x => x.PrefLabel.Single()))
                    {
                    <li>
                        <a asp-action="Item" asp-route-id="@child.Id">@child.PrefLabel.Single()</a>
                    </li>
                    }
                </ul>
            </details>
        }
        @if (Model.Member.Any())
        {
            <details>
                <summary>@Localizer["MemberConcepts"]</summary>
                <ul>
                    @foreach (var concept in Model.Member.OrderBy(x => x.PrefLabel.Single()))
                    {
                    <li>
                        <a asp-action="Item" asp-controller="Concept" asp-route-id="@concept.Id">@concept.PrefLabel.Single()</a>
                    </li>
                    }
                </ul>
            </details>
        }
    </div>
</section>