@model Concept

@{
    var label = Model.PrefLabel.Single();
    ViewData["Title"] = Localizer["Title", Localizer["SubTitle"], label];
}

<div class="section--primary">
    <div class="container">
        <small>@Localizer["SubTitle"]</small>
        <h1>@label</h1>
        <dl class="meta">
            <dt>Tagged</dt>
            <dd>
                @Html.ActionLink(Localizer["Entities"].Value, "Entities", new { id = Model.Id })
            </dd>
        </dl>
    </div>
</div>

<section id="content">
    <div class="container">
        <h2>@Localizer["Properties"]</h2>
        @if (Model.AltLabel.Any())
        {
            <details>
                <summary>@Localizer["AltLabel"]</summary>
                <ul>
                    @foreach (var altLabel in Model.AltLabel.OrderBy(x => x))
                    {
                        <li>@altLabel</li>
                    }
                </ul>
            </details>
        }
        @if (Model.Definition.Any())
        {
            <details>
                <summary>@Localizer["Definition"]</summary>
                <ul>
                    @foreach (var definition in Model.Definition.OrderBy(x => x))
                    {
                        <li>@definition</li>
                    }
                </ul>
            </details>
        }
        @if (Model.HistoryNote.Any())
        {
            <details>
                <summary>@Localizer["HistoryNote"]</summary>
                <ul>
                    @foreach (var historyNote in Model.HistoryNote.OrderBy(x => x))
                    {
                        <li>@historyNote</li>
                    }
                </ul>
            </details>
        }
        @if (Model.Notation.Any())
        {
            <details>
                <summary>@Localizer["Notation"]</summary>
                <ul>
                    @foreach (var notation in Model.Notation.OrderBy(x => x))
                    {
                        <li>@notation</li>
                    }
                </ul>
            </details>
        }
        @if (Model.InScheme.Any())
        {
            <details>
                <summary>@Localizer["InScheme"]</summary>
                <ul>
                    @foreach (var scheme in Model.InScheme.OrderBy(x => x.PrefLabel.Single()))
                    {
                        <li>
                            @Html.ActionLink(scheme.PrefLabel.Single(), "Item", "ConceptScheme", new { id = scheme.Id })
                        </li>
                    }
                </ul>
            </details>
        }
        @if (Model.Parent.Any())
        {
            <details>
                <summary>@Localizer["Parent"]</summary>
                <ul>
                    @foreach (var parent in Model.Parent.OrderBy(x => x.PrefLabel.Single()))
                    {
                        <li>
                            @Html.ActionLink(parent.PrefLabel.Single(), "Item", "Collection", new { id = parent.Id })
                        </li>
                    }
                </ul>
            </details>
        }
        @if (Model.Broader.Any())
        {
            <details>
                <summary>@Localizer["Broader"]</summary>
                <ul>
                    @foreach (var broader in Model.Broader.OrderBy(x => x.PrefLabel.Single()))
                    {
                        <li>
                            @Html.ActionLink(broader.PrefLabel.Single(), "Item", "Concept", new { id = broader.Id })
                        </li>
                    }
                </ul>
            </details>
        }
        @if (Model.Narrower.Any())
        {
            <details>
                <summary>@Localizer["Narrower"]</summary>
                <ul>
                    @foreach (var narrower in Model.Narrower.OrderBy(x => x.PrefLabel.Single()))
                    {
                        <li>
                            @Html.ActionLink(narrower.PrefLabel.Single(), "Item", "Concept", new { id = narrower.Id })
                        </li>
                    }
                </ul>
            </details>
        }
    </div>
</section>
