@{
    var query = ViewData["Query"];
    ViewData["Title"] = Localizer["Title", Localizer["SubTitle"], query];
}

<div class="section--primary">
    <div class="container">
        <small>@Localizer["SubTitle"]</small>
        <h1>@query</h1>
    </div>
</div>

<section id="content">
    <div class="container">

        @if (Model.TryGetValue("result", out dynamic results))
        {
            var mapping = new Dictionary<string, string> { { "http://www.w3.org/2004/02/skos/core#Concept", "Concept" }, { "http://www.w3.org/2004/02/skos/core#ConceptScheme", "ConceptScheme" }, { "http://www.w3.org/2004/02/skos/core#Collection", "Collection" } };

            <ol class="list--block">
                @foreach (var result in results.member.OrderByDescending((Func<dynamic, dynamic>)(x => x.score.Single())))
                {
                    var controller = mapping[result.type.Single().ToString()];
                    <li>
                        <div class="card">
                            <div class="card__details">
                                <h2>
                                    <a asp-action="Item" asp-controller="@controller" asp-route-id="@(new SkosResource(result).Id)">@result.label.Single()</a>
                                </h2>
                                <ul class="list--inline">
                                    <li>
                                        <a asp-action="Index" asp-controller="@controller" class="hint theme--grey-4">type: @controller</a>
                                    </li>
                                    @foreach (var collection in result.collection)
                                    {
                                    <li>
                                        <a asp-action="Item" asp-controller="Collection"  asp-route-id="@(new SkosResource(collection).Id)" class="hint theme--grey-4">collection: @collection.label.Single()</a>
                                    </li>
                                    }
                                    @foreach (var scheme in result.scheme)
                                    {
                                    <li>
                                        <a asp-action="Item" asp-controller="ConceptScheme" asp-route-id="@(new SkosResource(scheme).Id)" class="hint theme--grey-4">scheme: @scheme.label.Single()</a>
                                    </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </li>
                }
            </ol>
        }
        else
        {
            <span>no results</span>
        }
    </div>
</section>