@model Concept
@{
    ViewData["Title"] = Model.PrefLabel.Single();
}

@Html.ActionLink("entities", "Entities", new { id = Model.Id })

@if (Model.AltLabel.Any())
{
    <details>
        <summary>alt labels</summary>
        <ul>
            @foreach (var label in Model.AltLabel)
            {
                <li>@label</li>
            }
        </ul>
    </details>
}
@if (Model.ContainsKey("definition"))
{
    <details>
        <summary>definition</summary>
        <ul>
            @foreach (var definition in Model.Definition)
            {
                <li>@definition</li>
            }
        </ul>
    </details>
}
@if (Model.HistoryNote.Any())
{
    <details>
        <summary>history note</summary>
        <ul>
            @foreach (var historyNote in Model.HistoryNote)
            {
                <li>@historyNote</li>
            }
        </ul>
    </details>
}
@if (Model.Notation.Any())
{
    <details>
        <summary>notation</summary>
        <ul>
            @foreach (var notation in Model.Notation)
            {
                <li>@notation</li>
            }
        </ul>
    </details>
}
@if (Model.InScheme.Any())
{
    <details>
        <summary>schemes</summary>
        <ul>
            @foreach (var scheme in Model.InScheme)
            {
                <li>
                    @Html.ActionLink(scheme.PrefLabel.Single(), "Item", "ConceptScheme", new { id = scheme.Id })
                </li>
            }
        </ul>
    </details>
}
@if (Model.Parent.Any())
{
    <details>
        <summary>collections</summary>
        <ul>
            @foreach (var parent in Model.Parent)
            {
                <li>
                    @Html.ActionLink(parent.PrefLabel.Single(), "Item", "Collection", new { id = parent.Id })
                </li>
            }
        </ul>
    </details>
}
@if (Model.Broader.Any())
{
    <details>
        <summary>broaders</summary>
        <ul>
            @foreach (var broader in Model.Broader)
            {
                <li>
                    @Html.ActionLink(broader.PrefLabel.Single(), "Item", "Concept", new { id = broader.Id })
                </li>
            }
        </ul>
    </details>
}
@if (Model.Narrower.Any())
{
    <details>
        <summary>narrowers</summary>
        <ul>
            @foreach (var narrower in Model.Narrower)
            {
                <li>
                    @Html.ActionLink(narrower.PrefLabel.Single(), "Item", "Concept", new { id = narrower.Id })
                </li>
            }
        </ul>
    </details>
}
