@model ConceptScheme
@{
    var label = Model.PrefLabel.Single();
    var subTitle = Localizer["SubTitle"];
    ViewData["Title"] = Localizer["Title", subTitle, label];
}
<div class="section--primary">
    <div class="container">
        <small>@subTitle</small>
        <h1>@label</h1>
        <aside>
            @Html.ActionLink(Localizer["Tree"].Value, "Tree")
        </aside>
    </div>
</div>
<section id="content">
    <div class="container">
        <h2>@Localizer["TopConcepts"]</h2>
        <ol class="list--block">
            @foreach (var concept in Model.HasTopConcept.OrderBy(x => x.PrefLabel.Single()))
            {
                <li>
                    <div class="card">
                        <div class="card__details">
                            <h2>
                                @Html.ActionLink(concept.PrefLabel.Single(), "Item", "Concept", new { id = concept.Id })
                            </h2>
                        </div>
                    </div>
                </li>
            }
        </ol>
    </div>
</section>