@model ConceptScheme

@{
    var label = Model.PrefLabel.Single();
    var subTitle = Localizer["SubTitle"];
    ViewData["Title"] = Localizer["Title", subTitle, label];
}

<div class="section--primary">
    <div class="container">
        <small>@subTitle</small>
        <h1>@label</h1>
        <dl class="meta">
            <dt>@Localizer["ConceptScheme"]</dt>
            <dd>
                @Html.ActionLink(Localizer["Details"].Value, "Item", new { id = Model.Id })
            </dd>
        </dl>
    </div>
</div>

<section id="content">
    <div class="container">
        <aside>
            <button onclick="this.dataset.open = this.dataset.open == 'true' ? 'false' : 'true'; document.querySelectorAll('details').forEach(d => d.open = this.dataset.open == 'true')">@Localizer["Toggle"]</button>
        </aside>
        @foreach (var concept in Model.HasTopConcept.OrderBy(concept => concept.PrefLabel.Single()))
        {
            <partial name="ConceptNode" model="concept" />
        }
    </div>
</section>